<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body class="container">

    <header>
    </header>

    <main>
        <div class="">
            <h1>Facebook comment app</h1>
        </div>

        <div id="posts">
            
        </div>

        <form>

            <textarea name="comment-box" id="comment"></textarea>

            <div class="action-btn-wrap">
                <div class="action-btn">
                    <input type="checkbox" name="" id="B"/>
                    <label for="B">B</label>
                </div>
                <div class="action-btn">
                    <input type="checkbox" name="" id="I"/>
                    <label for="I">I</label>
                </div>
                <div class="action-btn">
                    <input type="checkbox" name="" id="U"/>
                    <label for="U">U</label>
                </div>
            </div>

            <input type="submit" name="" value="Submit">

        </form>

    </main>

    <footer>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>